body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    transition: background-color 0.5s;
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.5s, box-shadow 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages li {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.client-message {
    background-color: #e2e3e5;
}

.server-message {
    background-color: #bee0ed;
}


#message-input {
    width: 70%;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#login-form {
    margin-bottom: 20px;
    margin: 4em;
    text-align: center;
    padding: 2em;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#login-form input {
    width: 65%;
    padding: 10px;
    margin: 4em;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#login-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background-color: #0056b3;
}

#switch-container {
    text-align: center;
    margin-bottom: 20px;
}

.switch-label {
    margin-right: 10px;
    color: #6c757d;
}

.switch-input {
    display: none;
}

.switch-slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 17px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch-input:checked + .switch-slider {
    background-color: #007bff;
}

.switch-input:checked + .switch-slider:before {
    transform: translateX(26px);
}

body.mode-night {
    background-color: #121212;
    color: #ffffff;
}

.container.mode-night {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#messages.mode-night li {
    background-color: #2b2b2b;
}

#login-form.mode-night {
    background-color: #333333;
    color: #ffffff;
}

#login-form.mode-night label,
#login-form.mode-night input,
#login-form.mode-night button {
    color: #ffffff;
}

#login-form.mode-night input {
    background-color: #151515;
    border: 1px solid #444444;
    color: #ffffff;
}

#message-input.mode-night {
    background-color: #333333;
    border: 1px solid #444444;
    color: #ffffff;
}

#container.mode-night {
    background-color: #191919;
    color: #ffffff;
}

button.mode-night {
    background-color: #0056b3;
}

#switch-container {
    text-align: right;
    margin-bottom: 20px;
}

.switch-label {
    margin-left: 10px;
    color: #6c757d;
}

.switch {
    display: inline-block;
    vertical-align: middle;
}

.switch-slider:hover{
    cursor: pointer;
}