<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">   
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <title>Chat Server</title>
</head>
<body>
    <div id="switch-container">
        <label class="switch-label"><i class="fas fa-sun"></i></label>
        <label class="switch">
            <input type="checkbox" class="switch-input" id="mode-switch" onclick="toggleMode()">
            <span class="switch-slider"></span>
        </label>
        <label class="switch-label"><i class="fas fa-moon"></i></label>
    </div>
    <h1>Bienvenue sur le chat, {{ username }}!</h1>

    <div class="container" id="messages">
        <!-- Messages will appear here dynamically -->
    </div>

    <input type="text" id="message-input" placeholder="Saisissez votre message...">
    <button onclick="sendMessage()">Envoyer</button>

    <script>
        var socket = io.connect('http://' + document.domain + ':9002');
        let params = new URLSearchParams(document.location.search);
        var username = params.get("username");

        function addMessage(message, isServer) {
            var messagesList = document.getElementById("messages");
            var li = document.createElement("li");
            li.textContent = message;

            if (isServer) {
                li.classList.add("server-message");
            } else {
                li.classList.add("client-message");
            }

            messagesList.appendChild(li);
        }

        function sendMessage() {
            var inputField = document.getElementById("message-input");
            var message = inputField.value;

            if (message.trim() !== "") {
                socket.emit('message', { 'message': `${username} > ${message}` });
                inputField.value = "";
            }
        }

        socket.on('message', function(data) {
            addMessage(data.message, false);
        });

        function toggleMode() {
            var body = document.body;
            var messagesList = document.getElementById("messages");
            var messageInput = document.getElementById("message-input");
            var modeSwitch = document.getElementById("mode-switch");

            if (modeSwitch.checked) {
                body.classList.add("mode-night");
                messagesList.classList.add("mode-night");
                messageInput.classList.add("mode-night");
            } else {
                body.classList.remove("mode-night");
                messagesList.classList.remove("mode-night");
                messageInput.classList.remove("mode-night");
            }
        }
    </script>
</body>
</html>
