<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
    <title>Chat online</title>
</head>
<body>
    <div id="switch-container">
        <label class="switch-label"><i class="fas fa-sun"></i></label>
        <label class="switch">
            <input type="checkbox" class="switch-input" id="mode-switch" onclick="toggleMode()">
            <span class="switch-slider"></span>
        </label>
        <label class="switch-label"><i class="fas fa-moon"></i></label>
    </div>

    <div class="container" id="login-form">
        <label for="username">Quelle est votre nom ?</label>
        <input type="text" id="username" placeholder="Entrez votre nom...">
        <button onclick="login()">Se connecter</button>
    </div>

    <div id="messages" class="container">
        <!-- Ajoute ici le contenu de tes messages -->
    </div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var username;

        function login() {
            username = document.getElementById("username").value;
            if (username.trim() !== "") {
                var loginForm = document.getElementById("login-form");

                if (loginForm) {
                    // Envoie de la requête au serveur Python
                    fetch(`/chat?username=${username}`, {
                        method: 'GET',
                    })
                    .then(response => {
                        if (response.ok) {
                            // Redirige l'utilisateur vers la page '/chat' avec le nom d'utilisateur
                            window.location.href = `/chat?username=${username}`;
                        } else {
                            console.error('La requête a échoué avec le statut:', response.status);
                        }
                    })
                    .catch(error => {
                        console.error('Erreur lors de la requête:', error);
                    });
                }
            }
        }       

        function toggleMode() {
            var body = document.body;
            var messagesList = document.getElementById("messages");
            var modeSwitch = document.getElementById("mode-switch");
            var loginForm = document.getElementById("login-form");

            if (modeSwitch.checked) {
                body.classList.add("mode-night");
                messagesList.classList.add("mode-night");
                loginForm.classList.add("mode-night");
            } else {
                body.classList.remove("mode-night");
                messagesList.classList.remove("mode-night");
                loginForm.classList.remove("mode-night");
            }
        }        
    </script>
</body>
</html>
